<div>
	<h2>
	  <%= team.name %>
	</h2>

	<ul>
		<% team.members.split(',').forEach(function(member){ %>
		<li><%= member %></li>
		<% }) %>
	</ul>

	<a class="btn btn-warning" href="./edit/<%=team.name%>">Edit team</a>
	<a class="btn btn-danger" href="./<%=team.name%>" id="delete-btn">Delete team</a>
	
</div>
